@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*,body{
    font-family: "Montserrat";
}
/* navbar starts */
.navbar{
    background-color: #A37136;
    padding-left: 50px;
    padding-right: 20px;
}
.navbar .offcanvas{
    background-color: #A37136;
}
.navbar .offcanvas-header{
    border-bottom: 1px solid rgb(241, 241, 241);
}
.navbar .offcanvas-body{
    background-color: #A37136;
}
/* .navbar ul li{
    padding-right: 20px;
} */
.navbar ul li a{
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(241, 241, 241, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
@media only screen and (max-width:992px){
    .navbar{
    padding-left: 10px;
    padding-right: 10px;
    }
}
/* navbar end */
/* bankloanbg starts */
#bgbankloan{
    background-image: url('./images/insurancebg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
}
#bgbankloan p{
    padding-left: 50px;
    font-size: 58px;
    font-weight: 700;
}
@media only screen and (max-width:992px){
    #bgbankloan p{
    padding-left: 10px;
    }
}
@media only screen and (max-width:500px){
    #bgbankloan p{
    font-size: 38px;
    }
}

/* bankloanbg end */
/* section two starts */
#sectiontwo{
    background-color: #FBF8F4;
}
#sectiontwo #textcontent{
        padding-right: 50px;
    }
#sectiontwo #textcontent p:nth-child(1){
    font-size: 32px;
    font-weight: 700;
    color: #A37136;
    padding-top: 15px;
    padding-bottom: 15px;
}
#sectiontwo #textcontent p:nth-child(2){
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 15px;
    text-align: justify;
}
#sectiontwo #textcontent p:nth-child(3){
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}
@media only screen and (max-width:992px){
    #sectiontwo #textcontent{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        padding-top: 40px;
    }
}
/* section two end */

/* whychoose us starts */
#whychooseus{
    background-color: #FBF8F4;
}
#whychooseus p:nth-child(1){
    font-size: 32px;
    font-weight: 700;
    color: #A37136;
}
#whychooseus p:nth-child(2){
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}
#whychooseus p:nth-child(3){
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}
#whychooseus #whytextcontent{
    padding-left: 50px;
}
@media only screen and (max-width:992px){
    #whychooseus #whytextcontent{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    }
}
/* whychoose us end */
/* swiper starts */
#swipecontainer #servtitle{
    font-size: 32px;
    font-weight: 700;
    color: #A37136;
    padding-bottom: 30px;
}
 /* .swiper {
      padding: 40px 0;
      border: 1px solid black;
    } */
    .swiper-slide {
      width: 430px;
      height: 440px;
      display: flex;
      justify-content: center;
      align-items: center;
      /* border: 1px solid red; */
    }
    .card {
      background: #fff;
      width: 430px;
      height: 400px;
      padding: 20px;
      border-radius: 12px;
      background-color: #FBF8F4;
      border: 0;
    }
    #swipecontainer .card .card-title{
        color: #A37136;
        font-size: 24px;
        font-weight: 700;
    }
    #swipecontainer .card .card-text{
        font-size: 18px;
        font-weight: 400;
        text-align: justify;
    }
    .swiper-pagination-bullet-active {
      background: #333;
    }
    @media only screen and (max-width:395px){
        .card {
          height: 440px;
        }
    }
     @media only screen and (max-width:335px){
        .card {
          height: 460px;
        }
    }
/* swiper end */
/* footer starts */
#footer{
    background-color: #A37136;
}
#footer .card-body{
    padding-left: 50px;
    color: #ffffff;
}
#footer .card-body ul li{
    list-style-type: none;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    transform: translateX(-30px);
}
#footer .card-title{
    font-size: 24px;
    font-weight: 600;
}
@media only screen and (max-width:992px){
    #footer .card-body{
    padding-left: 10px;
    padding-right: 20px;
    }
}
/* footer end */